$color: steelblue;
$primary: Darkorange;
$body-bg: rgb(236, 210, 210);

.my-flix {
  font-family: monospace;
  color: $color;
}

Button {
  font-family: monospace;
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
  background-color: Orange;
  border: none;
  border-radius: 4px;
}

div {
  margin-bottom: 10px; 
}

@import '~bootstrap/scss/bootstrap.scss';

